[submodule "CoreWolf/GttrcrGist"]
	path = CoreWolf/GttrcrGist
	url = https://github.com/gttrcr/GttrcrGist
[submodule "Scraper/GttrcrGist"]
	path = Scraper/GttrcrGist
	url = https://github.com/gttrcr/GttrcrGist